<!-- views/partials/footer.ejs -->

        <div id="footer">
          <div class="container">
            <p class="text-muted text-center">Copyright ©2015 My Awesome App.</p>
          </div>
        </div>

        