<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>My Awesome Website</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel='stylesheet' href='/stylesheets/style.css' />
 <script type="text/javascript"  src="/javascripts/jquery.min.js"></script>
 <script type="text/javascript"  src="/javascripts/jquery-ui.min.js"></script>
 <script type="text/javascript"  src="/javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script type="text/javascript"  src="/javascripts/jquery.geocomplete.min.js"></script>
 


<style>
    body    { padding-top:50px; }
</style>