<% layout('../layout') -%>

<div class="row">

<form class="form-horizontal" method="post" action="/users">
  <div class="col-md-12 form-group">
        <label class="control-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        <label class="control-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Any username of your choice" required>
        <label class="control-label">About Yourself</label>
             <textarea class="form-control" rows="3" name="about_yourself" placeholder="About yourself" required></textarea>

    <div class="form-group">
        <label for="location" class="control-label col-xs-2">Location on map</label>
        <div class="col-xs-10">
            <input id="geocomplete" type="text" class="form-control" placeholder="Type in an address" value="Mumbai India" />
           <input id="find" type="button" class="btn btn-primary" value="find" />
        </div>
    </div>   


      <fieldset>
        <input name="lat" class="form-control" type="hidden" class="form-control" value="">
      
        <input name="lng"  class="form-control" type="hidden" class="form-control" value="">
      
        <input name="formatted_address" class="form-control" type="hidden" value="">
      </fieldset>




<div class="map_canvas" style="width:100%;height:400px;"></div>

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </div>

</form>

</div><!-- col-md-12 ends -->

</div><!--  row ends -->


<script type="text/javascript">
$(document).ready(function(){

var options = {
  map: ".map_canvas",
  location: "Mumbai",
  mapOptions: {
    streetViewControl: false,
    mapTypeId : google.maps.MapTypeId.ROADMAP
  },
  markerOptions: {
    draggable: true
  }
};




$("#geocomplete").geocomplete(options).bind("geocode:result", function(event, result){ 
      $("input[name=lat]").val(result.geometry.location.lat());
      $("input[name=lng]").val(result.geometry.location.lng());
      $("input[name=formatted_address]").val(result.formatted_address);
      var map = $("#geocomplete").geocomplete("map"),
///////////////////////This code should work now as expected-STARTS 
        marker = $("#geocomplete").geocomplete("marker");
          //there is only a single marker, use only a single infowindow
          if(!marker.get('infowindow')){
            marker.set('infowindow',new google.maps.InfoWindow());
            //commented to disable click handler and enable autoopen
            google.maps.event.addListener(marker, 'click', function() {
              this.get('infowindow').open(map,this);
            });
          }
          ////commented to disable click handler and enable autoopen
      //marker.get('infowindow').close();    
      map.setZoom(15);
      map.setCenter(result.geometry.location);
      marker.setMap(map);
      marker.get('infowindow').setContent('<div class="infowindow_places"><b><i>'+result.formatted_address+'</i></b></div>');
      //added to autoopen infowindow
      marker.get('infowindow').open(map, marker);
 
})//method ends


function GetLatLong(latLng,map){
      var geocoder = new google.maps.Geocoder();
     geocoder.geocode({'latLng': latLng }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      if (results[0]) {
        var road = results[0].address_components[1].long_name;
        var town = results[0].address_components[2].long_name;
        var county = results[0].address_components[3].long_name;
        var country = results[0].address_components[4].long_name;
        $("#geocomplete").val(road+' '+town+' '+county+' '+country);
        
        console.log('<b>'+road+' '+town+' '+county+' '+country+'</b>');

      var map = $("#geocomplete").geocomplete("map"),
///////////////////////This code should work now as expected-STARTS 
        marker = $("#geocomplete").geocomplete("marker");
          //there is only a single marker, use only a single infowindow
          if(!marker.get('infowindow')){
            marker.set('infowindow',new google.maps.InfoWindow());
            //commented to disable click handler and enable autoopen
            google.maps.event.addListener(marker, 'click', function() {
              this.get('infowindow').open(map,this);
            });
          }
          ////commented to disable click handler and enable autoopen
      //marker.get('infowindow').close();    
      map.setZoom(15);
      map.setCenter(latLng);
      marker.setMap(map);
      marker.get('infowindow').setContent('<div class="infowindow_places"><b>'+road+' '+town+' '+county+' '+country+'</b></div>');
      //added to autoopen infowindow
      marker.get('infowindow').open(map, marker);

        
      }
    }
  }); 
}//method ends

        
$("#geocomplete").bind("geocode:dragged", function(event, latLng){
  console.log('Dragged Lat: '+latLng.lat());
  console.log('Dragged Lng: '+latLng.lng());
   $("input[name=lat]").val(latLng.lat());
   $("input[name=lng]").val(latLng.lng());
   $("#reset").show();
  var map = $("#geocomplete").geocomplete("map");
    map.panTo(latLng);
    GetLatLong(latLng,map);
});



        $("#find").click(function(){
          $("#geocomplete").trigger("geocode");
        }).click();


      });//document ends
    </script>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            